@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Mono:wght@300&display=swap');


.hero-section{   
    height: calc(100vh - 8rem);
    color: white;    
    display: flex;
}

.hero-left{
    display: flex;
    flex: 1.5;
    flex-direction: column;
    padding-top: 15rem;
    gap: 8rem;
}

.hero-left--name{
    color: #c95a5a;
    font-size: 6rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.typewritter{
    font-size: 5rem ;
    font-family: 'Roboto Mono', monospace;
}


.Typewriter__wrapper span{
    font-size: 4rem;
} 
.Typewriter__wrapper h2{
    font-size: 6rem;
    color: rgb(114, 129, 134);
    display: inline;
}
.Typewriter__cursor{
    font-size: 6.5rem;
    color: hsl(0, 51%, 57%);
}
.hero-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.7;
    height: 80%;
    margin-top: 3rem;
}

.img-container{
    height: 100%;
    overflow: hidden;
    box-shadow: 0 20px 30px rgba(184, 168, 168, 0.1); 
    border-radius: 0.2rem;
         }
.img-container img {
    height: 100%;
}

/* 2xl */
@media (max-width: 1536px) {

  }
  
  /* xl */
  @media (max-width: 1280px) {
    .hero-left--name{
        font-size: 3.7rem;
    }
    .typewritter{
        font-size: 4rem ;
        font-family: 'Roboto Mono', monospace;
    }
  }
  
  /* lg */
  @media (max-width: 1024px) {
    .hero-right{
        height: 70%;
        margin-top: 3rem;
    }
  }
  
  /* md */
  @media (max-width: 768px) {
    .hero-right{
        display: none;
    }
    .hero-left{
        padding-top: 10rem;
    }
    
  }
  
  /* sm */
  @media (max-width: 640px) {
    .typewritter{
        width: 100%;
    }
    .Typewriter__wrapper h2{
        font-size: 90%;
    }

    .Typewriter__wrapper span{
        font-size: 80%;
    } 
  }
  
  /* xs */
  @media (max-width: 475px) {
    .Typewriter__wrapper span{
        font-size: 80%;
    } 

    .Typewriter__wrapper h2{
        font-size: 90%;
    }

  }
  
  
