.navbar{
    display: flex;
    color: white;
    justify-content: space-between;
    text-align: center;
    padding: 1rem;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 8rem;
}
.nav-left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-left h2{
    font-size: 4rem;
}
.nav-left h2 span{
    color: red;
    font-size: 5rem;
}
.nav-item .link{
    cursor: pointer;
}

.nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
    height: 100%;
}

.nav-mobile-icon{
    display: none;
    cursor: pointer;
    font-size: 3rem;
}
@media (max-width: 768px){
    .nav-mobile-icon{
        height: 100%;
        display: flex;
        justify-content:center ;
        align-items: center;
        display: block;
    }
    .menu-icon.hide{
        display: none;
    }
    .close-icon{
        display: none;
    }
    .close-icon.active{
        display: block;
    }
    .nav-items{
        background-color: white;
        color: black;
        width: 50%;
        height: 30vh;
        position: absolute;
        z-index: 9999;
        top: 8rem;
        display: flex;
        flex-direction: column;
        right: 4rem;
        justify-content: center;
        gap: 2rem;
        align-items: center;
        transition: all ease-in 0.3s;
        border-radius: 10px;
        font-size: 2.5rem;
        
    }

}


