@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
.project-card{
    display: flex;
    width: 100%;
    background-color: lightgray;
    padding: 2rem;
    gap: 5rem;
    box-shadow: 0 20px 30px rgba(211, 209, 209, 0.1); 
    background: rgb(48, 48, 48);
    border-radius: 1rem;
    color: white;
}

.project-image--left {
    flex: 0.3;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    background: rgb(40, 73, 84);
    border-radius: 1rem;
    width: 100%;
}
.project-image--div{
    width: 100%;
    text-align: center;
    
}
.project-image--div p{
    font-size: 4rem;
    color: white;
    font-family: 'Borel', cursive;
}

.project-card--title h2{
    font-size: 4rem;
    color: rgb(144, 82, 82);
}

.project-card--right{
    display: flex;
    flex: 1;
    gap: 2rem;
    flex-direction: column;
}

.project-card--description p{
    font-size: 2rem;
    color: white;
}

.project-card--weblink{
    margin-top: 4rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.web-icon{
    font-size: 3rem;
}
.project-card--weblink a{
    font-size: 2rem;
}

.project-card--srccode{
    display: flex;
    gap: 1rem;
    font-size: 2rem;
}

.project-card--weblink a, .project-card--srccode a{
    text-decoration: none;
    color: white;
}


/* ------media queries------- */

/* 2xl */
@media (max-width: 1536px) {}

/* xl */
@media (max-width: 1280px) {}

/* lg */
@media (max-width: 1024px) {
    .project-card--description p{
        font-size: 1.7rem;
    }
    .project-card--weblink{
        margin-top: 2rem;
    }
    .project-card--srccode{
        display: flex;
        gap: 1rem;
        font-size: 1.5rem;
    }

    .project-image--left{
        display: none;
    }


}

/* md */
@media (max-width: 768px) {}

/* sm */
@media (max-width: 640px) {}

/* xs */
@media (max-width: 475px) {


    .project-card--description p{
        font-size: 1.5rem;
    }

    .project-card--weblink a{
        font-size: 1.5rem;
    }
    .project-image--div p{
        font-size: 3.5rem;
    }
}
