.skill-icons{
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: space-around;
}

.icon-mid, .icon-left, .icon-right{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.icon{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.icon p{
    font-size: 2.5rem;
    font-weight: 100;
}

.icon img{
    height: 4rem;
}

.axios, .sql{
    background: lightgrey;
}